#content {
	width: 70%;
	margin: 10px auto;
	padding: 20px;
}

#icon {
	width: 20%;
	min-width: 150px;
	border-radius: 50%;
}

#companyLogo {
  margin: 0
}

#position, #company, #email {
	color: #888;
	margin: 0.5em;
}

body {
	background-color: #222;
	color: #222;
	font-family: "Roboto", "Lucida Grande", sans-serif;
	font-size: 15px;
	margin: 5px;
	text-align: center;
}

h1 {
	font-size: 2em;
	margin: 0.3em auto 0.5em;
  color: white;
}

h2 {
	font-size: 1.5em;
	margin: 0.3em;
	color: #555;
}

img {
	margin: 1em;
}
